<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>./src/bootstrap.php</file>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_INT" value="999" />
        <env name="TEST_FLOAT" value="9.99" />
        <env name="TEST_STRING" value="foobar" />
    </php>
</phpunit>
